# Full private Airbnb iCal export URL (include Airbnb token query like ?t=... or ?s=...).
# Example:
# VITE_AIRBNB_ICAL_URL=https://www.airbnb.com/calendar/ical/123456789012345678.ics?s=YOUR_PRIVATE_TOKEN
VITE_AIRBNB_ICAL_URL=https://www.airbnb.com/calendar/ical/841293593893351175.ics?
